@keyframes moveDownAlert {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(-40%);
    opacity: 1;
  }
}

@keyframes moveUpAlert {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateY(-200%);
    opacity: 0;
  }
}
