.rate-container {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.8rem;
  width: 50%;
  height: 3rem;
  align-items: center;
  justify-content: center;
  background-color: rgb(157, 157, 157);
  border: 2px solid #ffe283;
  border-radius: 5px;
  padding: 0.2rem;
  color: #5f5e5e;
}
