.cart_btn:hover {
  border-radius: 50%;
}
.cart_btn {
  background-color: #ffe283;
  background-size: 2rem;
  display: block;
  background-repeat: no-repeat;
  /* border: none; */
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.8rem;
  text-align: center;

  border-radius: 50%;
  padding-top: 0.5rem;
}

.cart_btn--not {
  padding-top: 2.45rem;
  margin-bottom: 1rem;
}

.cart-items__counter {
  display: flex;
  position: relative;
  background-color: #ff7474;
  background-position: center;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  color: #ffe283;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  margin-top: -0.2rem;
  border: 2px solid black;
}
