.main_data_container__game_posters {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 20rem;
}

.game_poster__items {
  height: 100%;
  width: 100%;
}

.game_poster_item--title {
  font-family: "Varela Round", sans-serif;
  color: #ffe283;
  text-align: center;
  margin: 0;
}

.fadeOut {
  animation: fadeOutAnim 2s 1s ease-out forwards;
}
.fadeIn {
  animation: fadeInAnim 2s ease-out forwards;
}

@keyframes fadeInAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOutAnim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
