.user_profile_btn {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background-color: #ff7474;
  color: #ff7474;
  border-radius: 50%;
  text-align: center;
  font-size: 0.7rem;
  font-size: 0.7rem;
  text-decoration: none;
}

.active {
  color: #ffe283;
}

.user_profile_btn:hover,
.user_profile_btn:active {
  color: #ffe283;
}

.dropdown-toggle::after {
  display: none;
}
