.user_profile_btn {
  background-color: transparent;
  background-image: url("../../../images/UI_Images/user_profile_logo.png");
  background-size: 2rem;
  display: block;
  background-repeat: no-repeat;
  border: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.7rem;
  text-align: center;
  color: #ff7474;
  padding-top: 1.8rem;
  background-position: center;
  padding-left: 0;
}

.user_profile_btn:hover {
  border-radius: 50%;
  background-color: #ffe283;
  color: #ffe283;
  text-decoration: underline;
}

.dropdown-menu__user-profile__backdrop {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -102;
  position: absolute;
  background-color: transparent;
  cursor: default;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown-menu__user-profile__backdrop-active {
  width: 100vw;
  height: 100vh;
  opacity: 1;
  z-index: 102;
  transform: translateY(0px);
}

.dropdown-menu__user-profile {
  color: #ff7474;
  text-decoration: underline;
  position: absolute;
  width: 10rem;
  left: calc(100% - 14.5rem);
  top: 3.7rem;
  z-index: 1050;
  background-color: rgb(58, 58, 58);
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0px rgba(255, 226, 131, 0.9);
  /* box-shadow: 0 2px 5px 0 rgba(255, 116, 116, 0.9); */
}

.dropdown-menu__user-profile__list {
  align-items: center;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
}

.dropdown-menu__user-profile__list > hr {
  width: 80%;
  margin: 0;
  border-color: #ff747496;
}

.dropdown-menu__user-profile__list-item {
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: #ff7474;
}

.dropdown-menu__user-profile__list-item:hover {
  color: #ffe283;
  text-decoration: underline;
}
