.add-item-page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 45rem;
  animation: slideInPage 0.5s ease-in forwards;
}

.add-item-page__container > h2 {
  color: wheat;
  font-family: "Varela Round", sans-serif;
  text-decoration: underline;
}
