.add-item-page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slideInPage 0.5s ease-in forwards;
}

.add-item-page__container > h2 {
  color: wheat;
  font-family: "Varela Round", sans-serif;
  text-decoration: underline;
  margin-bottom: 1rem;
}
.add-item-page__data {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  align-items: center;
}

@media (min-width: 60rem) {
  .add-item-page__data {
    flex-direction: row;
    gap: 1rem;
  }
  .break {
    height: 80%;
    margin-top: 5rem;
    background-color: #ffe283;
    width: 0.5rem;
    border-radius: 10px;
  }
}
