.cart-page__main-container {
  animation: slideInPage 0.5s ease-in forwards;
  background-color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 5rem;
}

.cart-page__main-container h2,
.cart-page__main-container h3 {
  margin: 0;
  color: wheat;
  font-family: "Varela Round", sans-serif;
  text-decoration: underline;
}
.cart-page__main-container > div > button {
  background-color: #2b2b2b;
  border: 2px solid #6767677e;
  color: #ff7474;
  width: 6rem;
  height: 2.5rem;
  border-radius: 5px;
}
.cart-page__main-container > div > button:hover {
  border: 2px solid #ffe283;
  color: #ffe283;
  cursor: pointer;
}

@keyframes slideInPage {
  from {
    transform: translateX(-100%);
    /* opacity: 70%; */
  }
  to {
    transform: translateX(0%);
    /* opacity: 100%; */
  }
}

@media (min-width: 40rem) {
  /* .cart-page__main-container {
  } */
}
