.main_data_container {
  width: 100%;
  height: max-content;
  /* margin-top: 0.2rem; */
}

.filter_searchBar_container {
  display: grid;
  grid-template-columns: [column-1-start] 100% [column-1-end];
  /* grid-template-rows: [row-1-start] 1fr [row-1-end]; */
  column-gap: 0;
  justify-items: center;
  margin: auto;
  margin-bottom: 2rem;
  margin-right: 3rem;
}
.filter_searchBar_container__data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  /* margin-right: 1rem;
   */
  margin: 0;
  padding: 0;
  grid-column: column-1-start / span column-1-end;
}

@media (min-width: 40rem) {
}
