.user-profile-page__container {
  width: 100%;
  height: 100%;
  background-color: black;
  animation: slideInPage 0.5s ease-in forwards;
  color: aliceblue;
}

@keyframes slideInPage {
  from {
    transform: translateX(-100%);
    /* opacity: 70%; */
  }
  to {
    transform: translateX(0%);
    /* opacity: 100%; */
  }
}
